/* Fix for off-kilter logos in Mobile NavBars */
nav .nav-wrapper i {
  line-height: inherit;
}

/* Fix for Edge-Hugging Navbar */
nav .nav-wrapper {
  padding: 0 30px;
}

/* Sticky Footers */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* Clearfix */
.clearfix:after {
  content:"";
  display:table;
  clear:both;
}

/* Media-Query Responsive Font for Medium Screens w/ Font-Awesome */
@media (min-width: 1440px) and (max-width: 1599px) {
  #social-icons a i {
    font-size: smaller;
  }
}
@media (min-width: 992px) and (max-width: 1439px) {
  #social-icons a i {
    font-size: x-large;
  }
}

code {
  color: #0277BD;
  font-weight: bold;
}
