<ul id="posts-dropdown" class="dropdown-content">
  {% for post in site.posts limit 5 %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
  {% endfor %}
  <hr />
  <li><a href="/">See More</a></li>
</ul>
{% for category in site.categories %}
  <ul id="{{ category[0] }}-dropdown" class="dropdown-content">
    {% for post in category[1] limit 5 %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
    {% endfor %}
    <hr />
    <li><a href="/{{ category[0] }}">See More</a></li>
  </ul>
{% endfor %}
<nav>
  <div class="nav-wrapper light-blue darken-3">
    <a class="brand-logo left" href="/">Len Payne</a>
    <a href="#" data-activates="mobile-nav" class="button-collapse right"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      {% for category in site.categories %}
        <li>
          <a href="#!" class="dropdown-button" data-activates="{{ category[0] }}-dropdown"><i class="material-icons right">arrow_drop_down</i>{{ category[0] | capitalize }}</a>
        </li>
      {% endfor %}
      <li>
        <a href="#!" class="dropdown-button" data-activates="posts-dropdown"><i class="material-icons right">view_module</i>Recent Posts</a>
      </li>
    </ul>
    <ul class="side-nav" id="mobile-nav">
      {% for category in site.categories %}
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li>
              <a class="collapsible-header"><i class="material-icons right">arrow_drop_down</i>{{ category[0] | capitalize }}</a>
              <ul class="collapsible-body">
                {% for post in category[1] limit 5 %}
                    <li>
                      <a href="{{ post.url }}">{{ post.title }}</a>
                    </li>
                {% endfor %}
                <hr />
                <li><a href="/{{ category[0] }}">See More</a></li>
              </ul>
            </li>
          </ul>
        </li>
      {% endfor %}
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header"><i class="material-icons right">view_module</i>Recent Posts</a>
            <div class="collapsible-body">
              <ul>
                {% for post in site.posts limit 5 %}
                    <li>
                      <a href="{{ post.url }}">{{ post.title }}</a>
                    </li>
                {% endfor %}
                <hr />
                <li><a href="/">See More</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
